@import "tailwindcss";

/* 
@font-face {
  font-family: 'PressStart';
  src: url('/fonts/PressStart2P-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Italic.woff2') format('woff2');
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-mono: 'Roboto Mono'
}